.login-container{
  
    width: 100vw;
    height: 100%;
    
    /* container: flex; 
     flex-direction: r;

    width: 500px;
    height: 200px;
    flex-direction: center;
    align-items: center;
    padding-top: 40px;
    margin-left: 30%;
    margin-top: 10%; */

    
}
body{
    background-color: antiquewhite;
}

.input-field{
    flex: auto ;
    border: solid   ;
    border-radius: 3px;
    border-color: cadetblue;
    border-width: 1px;
    height: 25px;
    margin-right: 90px;
 
}
.sub-button{
border-color: blue;
margin-top: 20px;
border-radius: 10px;
}